<!DOCTYPE html>
<html lang="en" ng-app="kiblerdudeApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://www.kiblerdude.com/images/profile.ico">

    <title>Live Music by Justin Kibler</title>

    <!-- Bootstrap core CSS -->
    <link href="http://www.kiblerdude.com/scripts/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://www.kiblerdude.com/css/cover.css" rel="stylesheet">

    <script src="http://www.kiblerdude.com/scripts/angular/angular.min.js"></script>
    <script src="http://www.kiblerdude.com/js/kiblerdude.js"></script>    

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-46624353-1', 'kiblerdude.com');
      ga('send', 'pageview');
    
    </script>    
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="http://www.kiblerdude.com/">Home</a>
            <a class="nav-link active" href="http://www.kiblerdude.com/songs.html">Songs</a>
            <a class="nav-link" href="http://www.kiblerdude.com/media.html">Media</a>          
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Songs</h2>
          </div>
        </div>

        <div class="row" ng-controller="SongController" ng-cloak>
            <div class="card">
              <p class="card-text">
              Here is the forever growing list of songs I can play, currently about {{totalSongs}} different songs.  If you are listening live, feel free to make a request.                
              </p>
            </div>
            <hr/>        
            <!--
            <input type="text" class="form-control input-lg" placeholder="Search" ng-model="query"/>
          -->
            <div class="card-columns">
              <div class="card p-1" ng-repeat="m in music">
                <h4 class="card-title">{{m.Category}}</h4>              
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" ng-repeat="s in m.Songs | filter:query">{{s.Artist}} - {{s.Song}}</li>
                </ul>
              </div>
            </div>
<!--
            <table class="table table-striped" ng-repeat="m in music">
                <tr>
                    <th colspan="2" style="font-size:18px;">
                       {{m.Category}}
                    </th>
                </tr>
                <tr ng-repeat="s in m.Songs | filter:query">
                    <td width="50%">{{s.Artist}}</td>
                    <td width="50%">{{s.Song}}
                      <span ng-if="s.new == true" class="label label-success">New</span></h3>
                    </td>
                </tr>
            </table>
-->
        </div>        

      </main>

      <footer class="mastfoot mt-auto">
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
<!--
    <script src="http://www.kiblerdude.com/scripts/jquery/dist/jquery.min.js"></script>
-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://www.kiblerdude.com/scripts/popper.js/dist/popper.min.js"></script>  
    <script src="http://www.kiblerdude.com/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>     
  </body>
</html>
