
<!DOCTYPE html>
<html lang="en" ng-app="kiblerdudeApp">
  <head>
    <meta charset="utf-8">
    <title>Justin Kibler - Live Music - Connecticut</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Justin Kibler - Live Music and Entertainment - Connecticut">
    <meta name="author" content="Justin Kibler">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <link rel="stylesheet" href="http://www.kiblerdude.com/scripts/bootstrap/dist/css/bootstrap.min.css">
    <!-- build:css kiblerdude.min.css -->
    <!-- endbuild -->

    
    <script src="http://www.kiblerdude.com/scripts/angular/angular.min.js"></script>
    <!-- build:js kiblerdude.min.js -->
    <!-- endbuild -->

    <script src="http://www.kiblerdude.com/js/kiblerdude.js"></script>
    
    <link rel="shortcut icon" href="http://www.kiblerdude.com/images/profile.ico">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-46624353-1', 'kiblerdude.com');
      ga('send', 'pageview');
    
    </script>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Justin Kibler</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/songs.html">Songs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">      

        <div ng-controller="SongController" ng-cloak>
            <h2><img src="http://www.kiblerdude.com/images/profile2.png" class="img-rounded"/> Justin Kibler</h2>
            <h3>Songs</h3>    
            <p class="lead">
                Here is the forever growing list of songs I can play, currently about {{totalSongs}} different songs.  If you are listening live, feel free to make a request.
            </p>
            
            <input type="text" class="form-control input-lg" placeholder="Search" ng-model="query"/>
            
            <hr/>

            <table class="table table-striped" ng-repeat="m in music">
                <tr>
                    <th colspan="2" style="font-size:18px;">
                       {{m.Category}}
                    </th>
                </tr>
                <tr ng-repeat="s in m.Songs | filter:query">
                    <td width="50%">{{s.Artist}}</td>
                    <td width="50%">{{s.Song}}</td>
                </tr>
            </table>

        </div>       

    </div> <!-- /container -->

    <script src="http://www.kiblerdude.com/scripts/jquery/dist/jquery.min.js"></script>
    <script src="http://www.kiblerdude.com/scripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script> 

  </body>
</html>
